@using Application.DTOs
@using Domain.Entities
@using Infrastructure.Persistence.Actions
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@model (List<DuAnDTO> duAnDTOs, ThongTinDuLieuCuoi thongTinDuLieuCuois, DuAnDTO duAnDTO)
<div class="content-body">
    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                <li class="breadcrumb-item active">Quản lý dự án</li>
            </ol>
        </div>
    </div>
    <!-- row -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h4>Thêm Dự Án</h4>
                            <h5><p class="td-center" style="color:red;">@ViewBag.Error</p></h5>
                        </div>
                        <form method="post" asp-controller="DuAn" asp-action="AddDuAn">
                            <div class="form-group">
                                <label for="mapb">Mã phòng ban <span class="text-danger">*</span></label>
                                <div class="input-group">
                                    <input type="text" name="DuAnId" id="mapb" class="form-control" placeholder="Số liệu tự cấp phát.." readonly="readonly">
                                    <div class="input-group-append">
                                        <button id="btn-pb" class="btn btn-outline-dark" type="button" onclick="CapPhatMaDA()"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tenduan">Tên dự án</label>
                                <input type="text" placeholder="Nhập tên dự án" class="form-control" name="TenDuAn" required>
                            </div>
                            <div class="form-group">
                                <label for="thuongduan">Thưởng dự án</label>
                                <input type="number" placeholder="Nhập thưởng dự án" class="form-control" name="ThuongDuAn" required>
                            </div>
                            <div class="form-group">
                                <label for="ngaybatdau">Ngày bắt đầu</label>
                                <input type="text" class="form-control mydatepicker" placeholder="mm/dd/yyyy" name="NgayBatDau">
                            </div>
                            <div class="form-group">
                                <label for="ngayketthuc">Ngày kết thúc</label>
                                <input type="text" class="form-control mydatepicker" placeholder="mm/dd/yyyy" name="NgayKetThuc">
                            </div>
                            <input type="submit" value="Thêm dự án" name="themduan" class="btn btn-primary">
                        </form>
                    </div>

                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h4>Thêm nhân viên vào dự án</h4>
                        </div>
                        <form action="#" method="post">
                            <div class="form-group">
                                <label for="maduan">Mã dự án</label>
                                <input type="text" placeholder="" class="form-control" name="maduan" value="" required>
                            </div>
                            <div class="form-group">
                                <label for="manhanvien">Mã nhân viên</label>
                                <input type="text" placeholder="" class="form-control" name="edit-cat-name" value="" required>
                            </div>
                            <div class="form-group">
                                <label for="phantram">Phần trăm tham dự</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="">
                                    <div class="input-group-append">
                                        <span class="input-group-text">%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Thêm nhân viên" name="edit-category" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h3>DANH SÁCH DỰ ÁN</h3>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="th-center-bold">Mã dự án</th>
                                        <th class="th-center-bold">Tên dự án</th>
                                        <th class="th-center-bold">Phần trăm còn lại</th>
                                        <th class="th-center-bold">Trạng Thái</th>
                                        <th class="th-center-bold">Chi tiết</th>
                                        <th class="th-center-bold">Sửa</th>
                                        <th class="th-center-bold">Xóa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (DuAnDTO duAnDTO in Model.duAnDTOs)
                                    {
                                        <tr>
                                            <td>@duAnDTO.DuAnId</td>
                                            <td>@duAnDTO.TenDuAn</td>
                                            <td>@duAnDTO.PhanTramDuAn</td>
                                            @if (@duAnDTO.TrangThai == 1)
                                            {
                                                <td>Hiện hành</td>
                                            }
                                            else
                                            {
                                                <td>Hoàn thành</td>
                                            }
                                            <td class="td-center">
                                                <form asp-controller="DuAn" asp-action="DuanDetail" method="post">
                                                    <input value="@duAnDTO.DuAnId" type="hidden" name="DuAnId" />
                                                    <button type="submit" class="btn btn-primary"><i class="fa fa-info"></i></button>
                                                </form>
                                            </td>
                                            <td style="text-align: center"><a href="#"><button type="button" class="btn btn-primary"><i class="fa fa-pencil"></i></button></a></td>
                                            <td style="text-align: center"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#@(duAnDTO.DuAnId + "xoa")"><i class="fa fa-close"></i></button></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @foreach (DuAnDTO duAnDTO in Model.duAnDTOs)
        {
            <div class="modal fade" id="@(duAnDTO.DuAnId + "xoa")" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLabel" style="margin: auto;text-align: center;">Are you sure to delete<br>Thằng lòn ?</h3>
                        </div>
                        <div class="modal-footer" style="margin: auto;">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                            <a href="#"><button type="button" class="btn btn-danger">Yes, delete it !</button></a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- #/ container -->
</div>
<script>
    function CapPhatMaDA() {
        $('#mapb').val('@AutoKey.InCreasedByOne(Model.thongTinDuLieuCuois.DuAnId)');
        $('#btn-pb').prop('disabled', true);
    }
</script>