@using Application.DTOs
@using Domain.Entities
@using Infrastructure.Persistence.Actions
@{
    ViewData["Title"] = "AddNV";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@model (List<PhongBanDTO> phongBanDTOs, List<CongViecDTO> congViecDTOs, List<ChucVuDTO> chucVuDTOs, ThongTinDuLieuCuoi thongTinDuLieuCuois)

<div class="content-body">

    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                <li class="breadcrumb-item"><a asp-controller="QuanLyNhanVien" asp-action="Index">Quản lý nhân viên</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Thêm nhân viên</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12 mb-3">
                                <a asp-controller="QuanLyNhanVien" asp-action="Index" style="float:left;"><button class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Quay lại</button></aasp-controller="QuanLyNhanVien"></a>
                            </div>
                        </div>
                        <form action="#" method="post">
                            <div class="row">
                                <div class="col-lg-12 mb-3"><h1>Thông tin nhân viên</h1></div>
                                <div class="col-lg-3">
                                    <div class="input-group">
                                        <div class="form-file">
                                            <input type="file" class="inputfile" name="your_picture" id="your_picture" onchange="readURL(this);" data-multiple-caption="{count} files selected" multiple />
                                            <label for="your_picture">
                                                <figure>
                                                    <img src="~/images/user/form-user.png" alt="" class="your_picture_image">
                                                </figure>
                                                <span class="file-button">chọn ảnh</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="manv">Mã nhân viên <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <input id="manv" class="form-control" type="text" placeholder="Dữ liệu cấp phát…" name="NhanVienId" readonly="readonly">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-dark" type="button" onclick="CapPhatMaNV()"><i class="fa fa-plus"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="phongban">Phòng ban <span class="text-danger">*</span></label>
                                                <select class="form-control" name="PhongBanId" required>
                                                    <option value="">-- Chọn phòng ban --</option>
                                                    @foreach (PhongBanDTO phongBanDTO in Model.phongBanDTOs)
                                                    {
                                                        <option value="@phongBanDTO.PhongBanId">@phongBanDTO.TenPhongBan</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="chucvu">Chức vụ <span class="text-danger">*</span></label>
                                                <select class="form-control" name="ChucVuId" required>
                                                    <option value="">-- Chọn chức vụ --</option>
                                                    @foreach (ChucVuDTO chucVuDTO in Model.chucVuDTOs)
                                                    {
                                                        <option value="@chucVuDTO.ChucVuId">@chucVuDTO.TenChucVu</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="congviec">Công việc <span class="text-danger">*</span></label>
                                                <select class="form-control" name="CongViecId" required>
                                                    <option value="">-- Chọn công việc --</option>
                                                    @foreach (CongViecDTO congViecDTO in Model.congViecDTOs)
                                                    {
                                                        <option value="@congViecDTO.CongViecId">@congViecDTO.TenCongViec</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="ngaysinh">Họ nhân viên <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control mydatepicker" name="HoNhanVien" placeholder="Nhập họ..." required> <span class="input-group-append"><span class="input-group-text"><i class="mdi mdi-calendar-check"></i></span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="ngaysinh">Tên nhân viên <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control mydatepicker" name="TenNhanVien" placeholder="Nhập tên..." required> <span class="input-group-append"><span class="input-group-text"><i class="mdi mdi-calendar-check"></i></span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="ngaysinh">Ngày sinh <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control mydatepicker" name="NgaySinh" placeholder="mm/dd/yyyy" required> <span class="input-group-append"><span class="input-group-text"><i class="mdi mdi-calendar-check"></i></span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="noisinh">Nơi sinh <span class="text-danger">*</span></label>
                                                <input type="text" name="NoiSinh" class="form-control" placeholder="Nhập nơi sinh..." required>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="diachi">Địa chỉ <span class="text-danger">*</span></label>
                                                <input type="text" name="DiaChi" class="form-control" placeholder="Nhập địa chỉ..." required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="cmnd">Số CMND/Thẻ căn cước <span class="text-danger">*</span></label>
                                                <input type="number" name="CMND" class="form-control" placeholder="Nhập số CMND/Thẻ căn cước..." required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="ngaycap">Ngày cấp CMND/Thẻ căn cước <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <input type="text" name="ngaycap" class="form-control mydatepicker" placeholder="mm/dd/yyyy" required> <span class="input-group-append"><span class="input-group-text"><i class="mdi mdi-calendar-check"></i></span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="sdt">Số điện thoại <span class="text-danger">*</span></label>
                                                <input type="number" name="sdt" class="form-control" placeholder="Nhập số điện thoại..." required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="mail">Email <span class="text-danger">*</span></label>
                                                <input type="email" name="mail" class="form-control" placeholder="Nhập E-mail..." required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="trinhdohocvan">Trình độ học vấn <span class="text-danger">*</span></label>
                                                <select class="form-control" name="trinhdohocvan" required>
                                                    <option value="">-- Chọn trình độ học vấn --</option>
                                                    <option value="1">Trên đại học</option>
                                                    <option value="2">Đại học</option>
                                                    <option value="3">Cao đẳng</option>
                                                    <option value="4">Trung cấp</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="luong">Lương căn bản <span class="text-danger">*</span></label>
                                                <input type="number" name="luong" class="form-control" placeholder="Nhập lương căn bản..." required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12"><h1>Tài khoản nội bộ</h1></div>
                                <div class="col-lg-3"></div>
                                <div class="col-lg-9">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="taikhoan">Tài khoản <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <input id="taikhoan" class="form-control" type="text" placeholder="Dữ liệu cấp phát…" name="taikhoan" readonly="readonly">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-dark" type="button" onclick="CapPhatTK()"><i class="fa fa-plus"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="quyen">Quyền <span class="text-danger">*</span></label>
                                                <select class="form-control" name="quyen" required>
                                                    <option value="">-- Chọn quyền --</option>
                                                    <option value="2">Trưởng phòng</option>
                                                    <option value="3">Nhân viên</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="matkhau">Mật khẩu <span class="text-danger">*</span></label>
                                                <input type="password" name="matkhau" class="form-control" placeholder="Nhập mật khẩu..." required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="matkhau0">Nhập lại mật khẩu <span class="text-danger">*</span></label>
                                                <input type="password" name="matkhau0" class="form-control" placeholder="Nhập lại mật khẩu..." required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-12 td-center">
                                    <button type="submit" class="btn btn-primary">Thêm nhân viên</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>
<script>
    function CapPhatMaNV() {
        $('#manv').val('@AutoKey.InCreasedByOne(Model.thongTinDuLieuCuois.NhanVienId)');
    }
    function CapPhatTK() {
        $('#taikhoan').val('@AutoKey.InCreasedByOne(Model.thongTinDuLieuCuois.NhanVienId)');
    }
</script>
